
body {
    background-color: black;
}

.center{
    padding-top: 20px;
}
#location{
    width:100%
}
#getMap{
    width: 100%;
}
#delete{
    width: 100%;
}
.map{
    overflow: hidden;
    height : 300px;
    width: 100%;
}